.create-container {
    min-height: 100vh;
    /* font-family: 'Arsenal', sans-serif; */
    position: relative;;
}

.create-header {
    height: 10vh;
    border-bottom: 1px solid #Dee1e2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 900px){
    .create-header {
        overflow-x: auto;
    }
}

.avatar-group {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    font-family: 'Arsenal', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name-group {
    margin-left: 10px;
}


.avatar {
    display: block;
}

.name-group {
    height: 40px;
    width: 200px;
    border-bottom: 1px solid #Dee1e2;
    position: relative;
}

.name-group input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    /* width: 100%; */
    height: 100%;
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
}

.modal {
    width: 360px;
    height: 200px;
    position: absolute;
}

.list-group-item {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 96%;
    margin: 0 auto;
    /* max-height: 50px; */
}

.list-group-item.active {
    background-color: #d3dada;
}


.list-group-item:hover {
    background-color: rgb(214, 214, 218);
}

.media {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.media .avatar {
    width: 20%;
    border-radius: 50%;
    display: 'block';
    box-sizing: border-box;
    padding: 2%;
}

.media .media-body {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.media .media-body .subtitle {
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    width: 100%;
}

.media .media-body .content {
    font-size: 16px;
    font-family: 'Arsenal', sans-serif;
    color: grey;
    width: 100%;
}

.media .media-body .media-title {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arsenal', sans-serif;
}

.media .media-body .media-title .date {
    color: rgba(107, 114, 128);
    font-weight: normal;
}

.list-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user {
    display: flex;
    align-items: center;
    background-color: royalblue;
    color: white;
    border: none;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 10px;
}

.span-name {
    font-family: 'Arsenal', sans-serif;
}

.exist {
    cursor: pointer;
}

.create-body-wrapper {
    height: 90vh;    
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create-body {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-avt-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-avt-group h3 {
    font-family: 'Arsenal', sans-serif;
}

.defaultImage {
    display: block;
    cursor: pointer;
}

.btn {
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: royalblue;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: 'Arsenal', sans-serif;
}

.btn:hover {
    background-color: rgb(57, 92, 197);
}

.input-name-group h3 {
    text-align: center;
    font-family: 'Arsenal', sans-serif;
}
