.form-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-content-left {
  width: 50%;
}

.form-content-right {
  width: 50%;
}

.form-img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 900px){
  .form-container {
    margin-top: 10px;
  }
  .form-content-left {
    width: 100%;
  }

  .form-content-right {
    width: 100%;
  }

  .form-img {
    width: 40%;
  }
}