.pointer {
    cursor: pointer;
}
.user_online_box {
    display: grid;
    grid-template-rows: 12vh 88vh;
}
.user_online_box .header-user {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 24vw;
}

.user_online_box .header-user .user-avatar {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40% 60%;
}

.user_online_box .header-user .user-avatar .avatar {
    margin-top: 24%;
    margin-left: 18%;
    width: 55px;
    height: 55px;
    vertical-align: middle;
    border-radius: 50%;
}

.user_online_box .header-user .user-avatar .app-title {
    font-weight: bold;
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 24%;
    margin-left: 8%;
}

.user_online_box .header-user .user-features {
    display: flex;
    flex-direction: row;
    margin-top: 16%;
}
.list_user_box .icon-close {
    display: none;    
}

.user_online_box .header-user .user-features .icon-drop {
    background-color: #f0f7f7;
    height: 30px;
    width: 30px;
    justify-content: center;
    padding-top: 0.5vh;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1.34;
    margin-top: 10%;
    margin-left: 8%;
}

.user_online_box .header-user .user-features .icon-video {
    background-color: #f0f7f7;
    margin-left: 8%;
    padding-top: 1vh;
    height: 30px;
    width: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1.34;
    margin-top: 10%;
}

.user_online_box .header-user .user-features .icon-plus {
    background-color: #f0f7f7;
    margin-left: 8%;
    padding-top: 1vh;
    height: 30px;
    width: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    line-height: 1.34;
    margin-top: 10%;
}

.user_online_box .header-user .user-features .icon-menu {
    display: none;
}

.user_online_box .header-user .user-features .icon:hover {
    background-color: #d3dada;
}

.user_online_box .header-user .text-search {
    position: relative;
    width: 160%;
}

.user_online_box .header-user .text-search .message_input_wrapper {
    width: 100%;
    margin-left: 5px;
}

.user_online_box .header-user .text-search .message_input_wrapper .message_input{
    background-color: rgba(249, 250, 251);
    width: 100%;
    height: 40px;
    margin-top: 2vh;
    padding-left: 16px;
    font-size: 110%;
    border-radius: 18px;
}

.user_online_box .header-user .text-search .message_input_wrapper .message_input::placeholder{
      font-size: 0.9rem;
      color: #999;
  }

  .user_online_box .header-user .text-search .message_input_wrapper .message_input:focus {
    font-size: 1.2rem;
    border: lightseagreen solid;
    outline: none;
}

/*----------------------------*/
.user_online_box .list_user_box{
    box-sizing: border-box;
    margin-top: 16%;
    overflow-y: auto;
    width: 100%;
    height: 80vh;
}

.user_online_box .list_user_box::-webkit-scrollbar {
    width: 8px;
    border-radius: 4rem;
}
      
.user_online_box .list_user_box::-webkit-scrollbar-track {
    width: 8px;
    background: mediumturquoise;
    border-radius: 4rem;
}
      
.user_online_box .list_user_box::-webkit-scrollbar-thumb {
    width: 2em;
    background-color: #f5f5f5;
    border-radius: 4rem;
}

.user_online_box .list_user_box .list-group-item.active {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  flex-direction: column;
  background-color: rgba(229, 231, 235);
  color: black;
}

.list_user_box .list-group-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    margin-top: 4%;
    color: black;
  }

.list_user_box .list-group-item:hover {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(229, 231, 235);
}

.media .avatar {
    vertical-align: middle;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 3%;
}

.media .media-body .media-title {
    font-weight: bold;
    margin-left: 22%;
    margin-top: 16px;
}

.media .media-body .media-title .user-name {
    float: left;
    font-family: serif;
    font-size: 1.4rem;
}

.media .media-body .media-title .date {
  margin-left: 24%;
  color: rgba(107, 114, 128);
}

.media .media-body .newest_messages {
  clear: both;
  display: block;
  margin-left: 22%;
  margin-right: 2%;
  margin-bottom: 4%;
  text-align: justify;
}

@media only screen and (max-width: 1000px) {
    .user_online_box {
        height: 14vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 14vh auto;
    }
    .user_online_box .header-user {
        display: grid;
        grid-template-columns: 58vw 42vw;
    }
    
    .user_online_box .header-user .user-avatar {
        box-sizing: border-box;
        grid-column: 1;
    }
    
    .user_online_box .header-user .user-avatar .avatar {
        margin-top: 12%;
        margin-left: 12%;
        width: 62px;
        height: 62px;
        vertical-align: middle;
        border-radius: 50%;
    }
    
    .user_online_box .header-user .user-avatar .app-title {
        font-weight: bold;
        font-size: 2.8rem;
        font-family: sans-serif;
        margin-top: 12%;
        margin-left: 3px;
    }
    
    .user_online_box .header-user .user-features {
        display: flex;
        flex-direction: row;
        width: 40vw;
        margin-top: 14px;
    }
    
    .user_online_box .header-user .user-features .icon-drop {
        background-color: #f0f7f7;
        height: 30px;
        width: 30px;
        justify-content: center;
        padding-top: 0.5vh;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        line-height: 1.34;
        margin-top: 10%;
        margin-left: 6%;
    }
    
    .user_online_box .header-user .user-features .icon-video {
        background-color: #f0f7f7;
        margin-left: 6%;
        padding-top: 1vh;
        height: 30px;
        width: 30px;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        line-height: 1.34;
        margin-top: 10%;
    }
    
    .user_online_box .header-user .user-features .icon-plus {
        background-color: #f0f7f7;
        margin-left: 6%;
        padding-top: 1vh;
        height: 30px;
        width: 30px;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        font-size: 8px;
        line-height: 1.34;
        margin-top: 10%;
    }
    
    .user_online_box .header-user .user-features .icon-menu {
        display: block;
        background-color: #f0f7f7;
        margin-left: 8%;
        padding-top: 1vh;
        height: 30px;
        width: 30px;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        font-size: 8px;
        line-height: 1.34;
        margin-top: 10%;
    }

    .user_online_box .header-user .user-features .icon:hover {
        background-color: #d3dada;
    }


    .user_online_box .header-user .text-search {
        display: none;
    }
    /* .user_online_box .header-user .text-search {
        position: relative;
        width: 160%;
        display: none;
    }
    
    .user_online_box .header-user .text-search .message_input_wrapper {
        width: 100%;
        margin-left: 5px;
        margin-top: 6%;
    }
    
    .user_online_box .header-user .text-search .message_input_wrapper .message_input{
        background-color: rgba(249, 250, 251);
        width: 100%;
        height: 40px;
        margin-top: 5%;
        padding-left: 16px;
        font-size: 110%;
        border-radius: 18px;
    }
    
    .user_online_box .header-user .text-search .message_input_wrapper .message_input::placeholder{
          font-size: 0.9rem;
          color: #999;
      }
    
      .user_online_box .header-user .text-search .message_input_wrapper .message_input:focus {
        font-size: 1.2rem;
        border: lightseagreen solid;
        outline: none;
    } */
    
    /*----------------------------*/
    
    
    
    .user_online_box .list_user_box{
        width: 0;
        position: fixed;
        z-index: 1;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        margin-top: -0.2vh;
    }
   
    .list_user_box .icon-close {
        display: block;    
        height: 2vh;
        margin-top: 2vh;
        text-align: right;
    }
    
    .list_user_box .icon-close .link-close {
        text-decoration: none; 
        font-size: 1.5rem;
        color: black;
        cursor: pointer;
    }
   
    .list_user_box .icon-close .link-close:hover {
        color: blue;
        outline: none;
    }

    .list_user_box .icon-close .link-close:active {
        color: yellow;
    }
    
    .user_online_box .list_user_box .list-group-item.active {
      display: flex;
      cursor: pointer;
      text-decoration: none;
      flex-direction: column;
      background-color: rgba(229, 231, 235);
      color: black;
    }
    
    .list_user_box .list-group-item{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-decoration: none;
        margin-top: 4%;
        color: black;
      }
    
    .list_user_box .list-group-item:hover {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: rgba(229, 231, 235);
    }
    
    .media .avatar {
        vertical-align: middle;
        height: 50px;
        border-radius: 50%;
        float: left;
        margin: 3%;
    }
    
    .media .media-body .media-title {
        font-weight: bold;
        margin-left: 22%;
        margin-top: 16px;
    }
    
    .media .media-body .media-title .user-name {
        float: left;
        font-family: serif;
        font-size: 1.4rem;
    }
    
    .media .media-body .media-title .date {
      margin-left: 24%;
      color: rgba(107, 114, 128);
    }
    
    .media .media-body .newest_messages {
      clear: both;
      display: block;
      margin-left: 22%;
      margin-right: 2%;
      margin-bottom: 4%;
      text-align: justify;
    }
}
