.message_input_wrapper {
  width: 72vw;
  margin-left: -12vw;
  display: inline-block;
}

.message_input_wrapper .message_input{
  border: none;
  background-color: rgba(225, 229, 230, 0.966);
  width: 100%;
  height: 6vh;
  margin-top: -5px;
  padding-left: 16px;
  font-size: 110%;
  border-radius: 42px;
}

.message_input_wrapper .message_input::placeholder{
    font-size: 0.9rem;
    color: #999;
}

.message_input_wrapper .message_input:focus {
  border: rgb(101, 233, 75) solid;
  outline: none;
  transition: all 0.2s ease-out;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1000px) {
  .message_input_wrapper {
    width: 94vw;
    margin-top: -1.2vh;
    margin-left: 10vw;
    display: inline-block;
  }
  
  .message_input_wrapper .message_input{
    border: none;
    background-color: rgba(225, 229, 230, 0.966);
    width: 100%;
    height: 6vh;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 110%;
    border-radius: 42px;
  }
  
  .message_input_wrapper .message_input::placeholder{
      font-size: 0.9rem;
      color: #999;
  }
  
  .message_input_wrapper .message_input:focus {
    border-color: rgb(101, 233, 75);
    outline: none;
    transition: all 0.2s ease-out;
    font-size: 1.1rem;
  }

}


@media only screen and (max-width: 800px) {
  .message_input_wrapper {
    width: 88vw;
    margin-top: 1vh;
    margin-left: -9vw;
    display: inline-block;
  }
  
  .message_input_wrapper .message_input{
    border: none;
    background-color: rgba(225, 229, 230, 0.966);
    width: 100%;
    height: 6vh;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 110%;
    border-radius: 42px;
  }
  
  .message_input_wrapper .message_input::placeholder{
      font-size: 0.9rem;
      color: #999;
  }
  
  .message_input_wrapper .message_input:focus {
    border-color: rgb(101, 233, 75);
    outline: none;
    transition: all 0.2s ease-out;
    font-size: 1.1rem;
  }
}