.chat-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-box .chat-box-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #Dee1e2;
    box-sizing: border-box;
}

.chat-box .chat-box-header .avatar {
    width: 20%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-box .chat-box-header h6 {
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Arsenal', sans-serif;
}

.chat-box .chat-box-message {
    height: 80vh;
    overflow: auto;
}

.chat-box .chat-box-input {
    height: 10vh;
    display: flex;
    align-items: center;
}