.chat-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-box .chat-box-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #Dee1e2;
    box-sizing: border-box;
}


.chat-box .chat-box-header .avatar {
    width: 20%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-box .chat-box-header h6 {
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Arsenal', sans-serif;
}


.chat-box .chat-box-message {
    height: 80vh;
}

.chat-box .chat-box-input {
    height: 9vh;
    max-height: 9vh;
}

@media only screen and (max-width: 900px) {
    .chat-box {
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .chat-box .chat-box-header {
        display: none;
    }
    .chat-box .chat-box-header .user-icon {
        display: none;
    }
    .chat-box .chat-box-header .user-name {
        padding-top: 3.5vh;
        width: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.1765;
        text-align: center;
    }
    .chat-box .chat-box-message {
        height: 65vh;
        max-height: 65vh;
    }
}

@media only screen and (max-width: 450px) {
    .chat-box {
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .chat-box .chat-box-message {
        height: 66vh;
        max-height: 66vh;
    }
}

@media only screen and (max-width: 380px) {
    .chat-box {
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .chat-box .chat-box-message {
        height: 68vh;
        max-height: 68vh;
    }
}